.container-cart {
    margin: 40px 15px;
}

.cart-title {
    color: #c73a0f;
    font-weight: bold;
}

.empty-cart-img {
    display: flex;
    justify-content: center;
}

.empty-cart-text {
    text-align: center;
    font-size: 12px;
    color: #ad8985;
    font-weight: 600;
}

@media all and (min-width: 1024px) {
    .empty-cart-img img {
        width: 100%;
    }
    .empty-cart-text {
        text-align: left;
    }
}