.products-img {
  width: 100%;
  border-radius: 10px;
}

.title {
  font-weight: bolder;
  color: #260f08;
  font-size: 30px;
}

.product-img {
  position: relative;
  margin-bottom: 35px;
}

.adding-btn {
  position: absolute;
  bottom: -10px;
  left: 64px;
}

.add-to-cart-btn {
  background-color: white;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 3px 25px;
}

.add-to-cart-btn span {
  padding-left: 5px;
  margin-bottom: 5px;
  font-family: "RedHatText", sans-serif;
}

.icon-text-div {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.product-name {
  font-size: 16px;
  color: #87635a;
}

.product-info {
  color: #260f08;
  font-weight: 600;
}

.product-price {
  color: #c73a0f;
  font-weight: bold;
}

@media all and (min-width: 374px) and (max-width: 767px) {
  .adding-btn {
    left: 29%;
  }
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .tablet-style {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
  }
  .adding-btn {
    left: 30%;
  }
  .img-mobile {
    display: block;
  }
  .img-desktop {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .container-products {
    display: grid;
    width: 70%;
    justify-content: center;
  }
  .desktop-style {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
  }
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
}
